*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #4a4a4a;
  font-size: 10px;
  font-family: "Titillium Web", "SF Pro", Arial, sans-serif;
  height: 667px;
  margin: auto;
  text-align: center;
  width: 375px;
}

.blank {
  height: 30px;
  margin: 2% 1.5% 1.5% 5.5%;
  visibility: hidden;
}

.bus1 {
  margin-top: 7%;
}

.bus1 .eta-cd {
  font-weight: bold;
}

.bus2 .eta-cd {
  font-weight: bold;
}

.bus3 .eta-cd {
  font-weight: bold;
}

.bus4 .eta-cd {
  font-weight: bold;
}

.bus5 .eta-cd {
  font-weight: bold;
}

.bus6 .direction {
  background-color: #FF7E00;
}

.bus6 .eta-cd {
  font-weight: bold;
}

.bus7 .direction {
  background-color: #DA0000;
}

.bus8 .direction {
  background-color: #DA0000;
}

.bus9 .direction {
  background-color: #DA0000;
}

.buslines {
  background-color: #FFD500;
  height: 86px;
}

.buslinestext {
  float: left;
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 4%;
  padding-top: 1%;
}

.bussched {
  background: #191919;
  height: 185px;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  width: 375px;
}

.bussched::after {
  content: '';
  height: 30px;
}

.bussched::-webkit-scrollbar {
  display: none;
}

.busselect {
  display: flex;
  font-size: 1.8em;
  overflow-x: auto;
  overflow-y: hidden;
  padding-left: 2%;
  padding-top: 2%;
  white-space: nowrap;
  width: 375px;
}

.busselect::after {
  content: '';
  padding-right: 10px;
}

.busselect::-webkit-scrollbar {
  display: none;
}

.busselect > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.busselect > li {
  border: solid 3px black;
  float: left;
  padding: 1.5% 1.5% 1.5% 1.5%;
  margin: 1.5% 1.5% 1.5% 1.5%;
  min-width: 55px;
}

.destination {
  align-items: center;
  color: white;
  display: inline-block;
  float: left;
  font-size: 1.7em;
  font-weight: regular;
  justify-content: center;
  height: 30px;
  line-height: 30px;
  padding-left: 2%;
}

.direction {
  background-color: #FFD500;
  display: inline-block;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  margin-left: 4%;
  width: 30px;
}

.divider {
  border-bottom: 1px solid #343434;
  margin: 20px 0px 20px 30px;
  width: 315px;
}

.eta {
  color: white;
  display: inline-block;
  float: right;
  font-size: 1.4em;
  font-weight: regular;
  padding-right: 4%;
}

.eta-cd {
    color: white;
    display: inline-block;
    float: right;
    font-size: 1.8em;
    padding-right: 4%;
}

input[type=text] {
  background-color: #191919;
  background-image: url(../images/SearchIcon.png);
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border-style: none;
  border-radius: 10px;
  color: white;
  font-family: "Titillium Web", "SF Pro", Arial, sans-serif;
  font-size: 1.6em;
  padding: 6px 60px;
}

input[type=button], input[type=submit], input[type=reset] {
  border: none;
  color: #191919;
  background-color: #FFD500;
  font-family: "Titillium Web", "SF Pro", Arial, sans-serif;
  font-size: 1.6em;
  margin-left: 8px;
  padding: 6px 12px;
  cursor: pointer;
}

.line {
  border: solid 2px #FFD500;
  color: #FFD500;
  display: inline-block;
  float: left;
  font-size: 1.7em;
  font-weight: regular;
  height: 30px;
  line-height: 25px;
  margin-left: 1%;
  width: 50px;
}

.map {
  background-color: #191919;
}

::placeholder {
  color: white;
  direction: rtl;
  text-align: left;
}

.searchbar {
  background-color: #FFD500;
  height: 86px;
  text-align: center;
}

.searchfield {
  float: left;
  padding-left: 4%;
  padding-top: 7%;
}
